
.navbar {
    background-color: #272a2b;
    width: 100vw;
    display: block;
    margin: -10px;
    margin-left:-20px;
    padding: 8px;
    position: fixed;
}

.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color:#272a2b;
    overflow: hidden;
    width: 100vw;
}

.navbar ul li {
    float: left;
}

.nav-item a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    color:aliceblue !important;
    font-weight: bold;
    transition: .15s;
    background-color: black;
}

.navbar-nav {
    justify-content: space-between;
    width: 80vw;
}

.main-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-body .left-side-grid {
    width: 50vw;
    margin: 0 1em;
    padding-bottom: 50px;
}


.main-body .right-side-grid {
    width: 45vw;
    margin: 0 1em;
    padding-bottom: 50px;
}

.center-self {
    margin: auto;
    max-width: 100ch;
    min-width: 35ch;
    padding: 3ch;
}

.center-children {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: gainsboro;
    padding: 10px;
}

a {
    display: inline-block;
    color: #f44c68;
}

a:hover {
    color: #b13053;
}

.milestone-2-formatting {
    list-style-type: none;
}

.center-children h2 {
    padding-top: 2em;
    font-size: 2em;
}

.milestone-2-list {
    padding-left: 2em;
    border-left: #f44c68 solid 2px;
}
